:root {
    --cor-preto: #0D0D0D;
    --cor-verde-escuro: #012619;
    --cor-cinza: #6e6d6d;
    --cor-verde-opaco: #118C5F;
    --cor-branco-base: #eeece9;
    --cor-verde-claro: #25D997;
    --cor-verde-neon: #1DF2A4;
}


html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: var(--cor-verde-escuro);
}

.navbar {
    background-color: var(--cor-verde-opaco) !important;
}

section {
    color: var(--cor-branco-base);
}

#card-list-title {
    font-size: 1.5rem;
    color: #000;
}

.btn {
    background-color: var(--cor-verde-neon);

    border: none;
    color: var(--cor-preto);
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--cor-cinza);
}

.lista-card {
    transition: transform 0.2s;
}

.lista-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: none;
}

@media (max-width: 768px) {
    .floating-btn {
        display: block;
    }

    #cardsContainer {
        margin-bottom: 5rem;
    }
}

#listaItens::-webkit-scrollbar {
    width: 8px;
}

#listaItens::-webkit-scrollbar-track {
    background: var(--cor-bege-claro);
    border-radius: 4px;
}

#listaItens::-webkit-scrollbar-thumb {
    background-color: var(--cor-laranja-cafe);
    border-radius: 4px;
}


#listaItensModal {
    max-height: 60vh;
    overflow-y: auto;
}

.modal-body {
    gap: 1rem;
}

#h5-card {
    color: var(--cor-preto) !important;
}