:root {
    --cor-cafe-escuro: #1C1C1C;
    --cor-cafe-claro: #4B382A;
    --cor-cinza: #6e6e6d;
    --cor-offw: #eeece9;
    --cor-bege-claro: #ececec;
    --cor-laranja-cafe: #A67B5B;
    --cor-branco: #FEFAF6;
}


html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: var(--cor-cinza);
}

.navbar {
    background-color: var(--cor-cafe-claro) !important;
}

.lista-card {
    transition: transform 0.2s;
}

.lista-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: none;
}

@media (max-width: 768px) {
    .floating-btn {
        display: block;
    }

    #cardsContainer {
        margin-bottom: 5rem;
    }
}

/* Personalização da Scrollbar */
#listaItens::-webkit-scrollbar {
    width: 8px;
}

#listaItens::-webkit-scrollbar-track {
    background: var(--cor-bege-claro);
    border-radius: 4px;
}

#listaItens::-webkit-scrollbar-thumb {
    background-color: var(--cor-laranja-cafe);
    border-radius: 4px;
}

/* Ajuste de Espaçamento */
.modal-body {
    gap: 1rem;
}