:root {
    --cor-cafe-escuro: #1C1C1C;
    --cor-cafe-claro: #4B382A;
    --cor-cinza: #6e6e6d;
    --cor-offw: #eeece9;
    --cor-bege-claro: #ececec;
    --cor-laranja-cafe: #A67B5B;
    --cor-branco: #FEFAF6;
}


html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: var(--cor-cinza);
}

main {
    flex: 1;
}

.navbar {
    background-color: var(--cor-cafe-claro) !important;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-branco);
}

/* Título principal */
.hero-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-cafe-escuro);
    margin-bottom: 2rem;
}

.hero-title span {
    color: var(--cor-laranja-cafe);
}

/* Subtítulo */
.hero-subtitle {
    font-size: 1.25rem;
    color: var(--cor-cinza);
    margin-bottom: 2rem;
}

/* Texto descritivo */
.hero-text {
    font-size: 1rem;
    color: var(--cor-cafe-claro);
    margin-bottom: 2rem;
}

/* Botão */
.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-branco);
    background-color: var(--cor-cafe-escuro);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.hero-btn:hover {
    background-color: var(--cor-cafe-claro);
}

/* Ícones laterais */
.icon {
    font-size: 4rem;
    color: var(--cor-cafe-claro);
}