:root {
    --cor-preto: #0D0D0D;
    --cor-verde-escuro: #012619;
    --cor-cinza: #6e6d6d;
    --cor-verde-opaco: #118C5F;
    --cor-branco-base: #eeece9;
    --cor-verde-claro: #25D997;
    --cor-verde-neon: #1DF2A4;

}



html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;

}

main {
    flex: 1;
}

.navbar {
    background-color: var(--cor-verde-opaco) !important;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-verde-escuro);
}

/* Título principal */
.hero-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-verde-neon);
    margin-bottom: 2rem;
}

.hero-title span {
    color: var(--cor-branco-base);
}

/* Subtítulo */
.hero-subtitle {
    font-size: 1.25rem;
    color: var(--cor-branco-base);
    margin-bottom: 2rem;
}

/* Texto descritivo */
.hero-text {
    font-size: 1rem;
    color: var(--cor-branco-base);
    margin-bottom: 2rem;
}

/* Botão */
.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-pretos);
    background-color: var(--cor-verde-claro);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.hero-btn:hover {
    background-color: var(--cor-verde-neon);
}

/* Ícones laterais */
.icon {
    font-size: 4rem;
    color: var(--cor-verde-neon);
}