:root {
    --cor-preto: #0D0D0D;
    --cor-verde-escuro: #012619;
    --cor-cinza: #6e6d6d;
    --cor-verde-opaco: #118C5F;
    --cor-branco-base: #e9e9e9;
    --cor-verde-claro: #25D997;

}


body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--cor-verde-escuro);
}


.modal-dialog {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    background-color: var(--cor-verde-opaco) !important;
}


.form-control {
    background-color: var(--cor-branco-base);
    border-color: var(--cor-verde-escuro);
}

.form-control:focus {
    border-color: var(--cor-preto);
    box-shadow: 0 0 0 1px var(--cor-preto);
}


.card-header {
    background-color: var(--cor-verde-opaco) !important;
    color: var(--cor-branco-base) !important;
    text-align: center;
    padding: 1rem;
}



#userHelp,
#passwordHelp {
    color: var(--cor-verde-neon);
}


.card-body {
    background-color: var(--cor-branco-base);
}

.btn {
    background-color: var(--cor-verde-claro);
    color: var(--cor-branco);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--cor-verde-opaco);
    color: var(--cor-branco-base);
}